<div class="content_login">
  <h2>Ingresa como usuario</h2>
  <%= form_tag("/trainer/follow") do -%>
    <div class="data">
      <div class="input">
        <%= text_field_tag 'code', '', placeholder: 'Ingresa tu email', class:'uno'%>
      </div>
      <div class="submit">
         <%= submit_tag 'Enviar email', :class => 'button' %>
      </div>
    <%end%>
  </div>
</div>