<div class="content">
  <h2>Ingresa como usuario</h2>
  <%= form_tag("/trainer/follow") do -%>
    <div class="data">
      <div class="input">
         <%= text_field_tag 'code', '', placeholder: 'Ingresa tu email', class:'uno', style: 'width:200px !important;'%>
      </div>

      <div class="submit">
         <%= submit_tag 'Enviar email', :class => 'button' %>
      </div>
    <%end%>
  </div>
</div>