<div class="content">
<h1>Ingresa tu código de implementación</h1>
<%= form_tag("/trainer/follow") do -%>
   <%= text_field_tag 'code', '', placeholder: 'Ingresa el código de institución'%>
   <%= submit_tag 'Enviar Código', :class => 'button' %>
<%end%>
  <div onclick="celarMenu();" >Cancelar</div>
</div>