 <div id="admin_5_step">
      <div class="header">
        <div class="title">
          Paso 5
        </div>
        <div class="subtitle">
          <h3>Correo masivo</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li id="admin_3_checked" class="step_checked step3">
            <p>3</p>
          </li>
          <li id="admin_4_checked" class="step_checked step4">
           <p>4</p>
          </li>
          <li id="admin_5_checked" class="step_checked step5">
            <p>5</p>
          </li>
          <li class="step step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>
      </div>
      <div class="box-content">
        <p>
          Cúrsame cuenta con herramientas de trabajo simples pero poderosas, como lo son los cometarios, las tareas, discusiones y cuestionarios.
          Para comenzar a utilizar cualquier herramienta simplemente deberemos seleccionarla y completar el formulario que aparece inmediatamente después de seleccionarlo. 
        </p>
        <div class="img_tutorial">
         <%=  image_tag('img_t5.png')%>
         </div>
      </div>
      <div class="pagination">
        <%= render partial: '/trainer/steaps/paginate', locals: {steap_to: steap_to, steap_preview: steap_preview, preview_active: preview_active, to_active:  to_active, total_steaps: total_steaps}%>
      </div>
    </div>