   <div id="admin_6_step">
      <div class="header">
        <div class="title">
          Paso 6
        </div>
        <div class="subtitle">
          <h3>Evaluación final</h3>
        </div>

        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li id="admin_2_checked" class="step_checked step2">
            <p>2</p>
          </li>
          <li id="admin_3_checked" class="step_checked step3">
            <p>3</p>
          </li>
          <li id="admin_4_checked" class="step_checked step4">
            <p>4</p>
          </li>
          <li id="admin_5_checked" class="step_checked step5">
            <p>5</p>
          </li>
          <li id="admin_6_checked" class="step_checked step6">
            <p>6</p>
          </li>
          <li class="step step7">
            <p>7</p>
          </li>
        </ul>      
      </div>
      <div class="box-content">
        <p>
          Para poder trabajar con las calificaciones finales de los alumnos deberemos comenzar seleccionado el curso de mi listado de cursos ubicado en la esquina superior izquierda. 
          Una vez adentro nos situamos en la parte del engrane y seleccionamos la opción “Calificaciones finales”

          Después seleccionamos el alumno a evaluar y llenamos la información que nos solicita Cúrsame para arrojar una calificación final. Si llegara a haber actividades sin calificar, esta parte de la plataforma nos indicaría cuales son esas actividades.
        </p>
      <div class="img_tutorial">
        <%=  image_tag('img_t9.png')%>
        <%=  image_tag('img_t10.png')%>
      </div>
      </div>
      <div class="pagination">
        <%= render partial: '/trainer/steaps/paginate', locals: {steap_to: steap_to, steap_preview: steap_preview, preview_active: preview_active, to_active:  to_active, total_steaps: total_steaps}%>
      </div>
    </div>
