<div class="content">

<h1 class="blue">Crear nuevo administrador</h1>
<p>Ingresa el correo electr칩nico y asigna una contrase침a al usuario que deseas crear</p>

  <div class="loginbox">
    <%= form_tag(create_admin_path) do -%>
    <label class="logintext">Correo electr칩nico</label>
    <%= text_field_tag 'email', '', placeholder: :email %>
    <label class="logintext">Contrase침a</label>
    <%= password_field_tag 'password', '', placeholder: :password%>
    <%= submit_tag 'Crear usuario', class:'btn-new'%>
    <% end %>
  </div>
</div>
