<div class="content">
  <h1>Implementación</h1>
  <p>¡Buena día!
    Estamos muy emocionados por contar contigo para llevar a cabo una integración exitosa de tu escuela con Cúrsame.</br>Antes de que comencemos a trabajar con Cúrsame, nos gustaría contarte un poco de nuestra historia.
  </p>
  <div class="big-box">
    <div class="header">
      <div class="title">
      Introducción
      </div>
      <div class="subtitle">
        <h3>Bienvenido a la implementación de la plataforma</h3>
      </div>
    </div>
    <div class="box-content">
      <p>Cúrsame nace como una herramienta de gestión escolar en el 2011, comenzó como un proyecto desarrollado por estudiantes mexicanos del I.P.N. y de la U.V.M.  y lo que comenzó como un proyecto fue integrando más herramientas de apoyo a la docencia.</br>Fueron gracias a varios años de trabajo, de pláticas con maestros, investigación de campo que Cúrsame se convirtió en la plataforma educativa orgullosamente mexicana que da a los maestros herramientas simples pero poderosas para hacer más llevadera su labor.</p>
      <p>Si quieres más especificaciones sobre la utilidad de las herramientas de Cúrsame puedes consultar los manuales de uso. Descarga el adecuado a tu rol.
      </p>
      <ul class="buttons_space">
        <li>       
         <%= link_to 'Manual para administrador',  '/manuales/manual_admin.pdf', target: '_blank', class: "btn-download"%>
        </li>
        <li>
          <%= link_to 'Manual para maestro',  '/manuales/manual_profesor.pdf', target: '_blank' , class: "btn-download"%>
        </li>
        <li>
          <%= link_to 'Manual para alumno',  '/manuales/manual_alumno.pdf', target: '_blank', class: "btn-download"%>
        </li>
      </ul>
      <p>
      En la educación intervienen muchos papeles, nosotros decidimos enfocarnos en los más importantes: Administradores, Maestros y Alumnos.</p>
      <p>Englobamos herramientas que serán indispensables para cada usuario. Estadísticas de uso y gestión escolar para los administradores. Creación de cursos y un sistema de calificaciones para los maestros. Recordatorios de entrega de tareas, foros de estudio y una biblioteca digital para los alumnos, entre otras muchas cosas que verás a continuación.
      </p>
      <p>Para continuar selecciona tu rol en la barra lateral izquierda de esta ventana.</p>
    </div>
  </div>
</div>

