<div class="content">
  <h1>Proximamente la "GACETA"</h1>
  <p>Proximamente podras tener acceso a la gaceta de Cúrsame una herramienta que te permitirá estar enterado y actualizado acerca de las novedades de tu escuela o institución.</p>
</div>