<h1>Paso 1</h1>

<p>Hola, para este momento tu plataforma de Cúrsmae ha sido dada de alta según previo acuerdo, este pequeño tutorial te ayudará a generar de una manerá más eficaz y dinámica la implementación de Cúrsame en tu institución.</p>

<p>
En este punto ya se presentó Cúrsame, se revisó el acuerdo con la fijación de los 5 días para obtener la base de datos.
</p>
<p>Como en Cúrsame nuestra misión es apoyarte en lo que te sea necesario para lograr la mejora una mejora educativa significativa dentro de tu institución te brindamos el material de apoyo necesario para que puedas implementar tu institución en tiempo record, lo único que tienes que hacer es seguir los pasos al pie de la letra.</p>

<div class="pagination">
    <%= render partial: '/trainer/steaps/paginate', locals: {steap_to: steap_to, steap_preview: steap_preview, preview_active: preview_active, to_active:  to_active, total_steaps: total_steaps}%>
</div>