<h1>Paso 3</h1>
<p> Debes fijar fechas con horarios para que los maestros tomen la implementación que tu has preparado,
dependiendo de la cantidad de maestros se deberán establecer los horarios para las implementaciones.</p>
<p> Nosotros te proporcionamos un video introductorio para que puedas llevar a cabo un implementación exitosa.</p>

<p>En caso de necesitar una implementación virtual con uno de nuestros implementadores contactar a implementacion@cursa.me, para establecer las fechas y condiciones para la implementación virtual.</p>
<center>
<iframe width="760" height="515" src="http://www.youtube.com/embed/hRXdl0MHKoY" frameborder="0" allowfullscreen></iframe>
</center>
<div class="pagination">
    <%= render partial: '/trainer/steaps/paginate', locals: {steap_to: steap_to, steap_preview: steap_preview, preview_active: preview_active, to_active:  to_active, total_steaps: total_steaps}%>
</div>


