<h1>Paso 5</h1>
<p>Registrar base de datos de alumnos</p>
<div class="pagination">
    <%= render partial: '/trainer/steaps/paginate', locals: {steap_to: steap_to, steap_preview: steap_preview, preview_active: preview_active, to_active:  to_active, total_steaps: total_steaps}%>
</div>