<h1>Paso 4</h1>
<p> Después de la primera implementación el profesor y alumno comienzan la interación en cúrsame, mediante este mismo modulo de capacitación podran seguir un tutorial bastente completo de como llevar a cabo exitosamente su travesia por nuestra aplicación.</p>
<center><%= image_tag('new_course.png', width: 850)%></center>
<div class="pagination">
    <%= render partial: '/trainer/steaps/paginate', locals: {steap_to: steap_to, steap_preview: steap_preview, preview_active: preview_active, to_active:  to_active, total_steaps: total_steaps}%>
</div>