 <div id="admin_1_step">
      <div class="header">
        <div class="title">
          Paso 1
        </div>
        <div class="subtitle">
          <h3>Inicio de sesión</h3>
        </div>
        <ul class="steps-box">
          <li id="admin_1_checked" class="step_checked step1">
            <p>1</p>
          </li>
          <li class="step step2">
            <p>2</p>
          </li>
          <li class="step step3">
            <p>3</p>
          </li>
          <li class="step step4">
            <p>4</p>
          </li>
          <li class="step step5">
            <p>5</p>
          </li>
          <li class="step step6">
            <p>6</p>
          </li>
        </ul>
      </div>
      <div class="box-content">
        <p>
          Es muy sencillo iniciar sesión. Para ello, será necesario el correo
          electrónico que dimos de alta en el registro y la contraseña que
          hayamos escogido o nos hayan asignado en el proceso de registro.
        </p>
        <p>
          Es importante revisar que en la barra de dirección aparezca la red de
          su escuela y que en este ejemplo usaremos la red denominada
          version4.cursa.me”. Cada escuela tiene su propia red y no puede ser
          la misma.
        </p>

        <p>
          Si tiene cualquier duda, tiene el servicio de soporte (botón que dice
          “ayuda”) a su disposición o también podrá contactar al administrador
          de su escuela.
        </p>
        <div class="img_tutorial">
         <%= link_to image_tag('img_adm1.png')%>
         </div>
      </div>
      <div class="pagination">
        <%= render partial: '/trainer/steaps/paginate', locals: {steap_to: steap_to, steap_preview: steap_preview, preview_active: preview_active, to_active:  to_active, total_steaps: total_steaps}%>
      </div>
    </div>