<% if session[:type] != nil %>
<div class="menu-bar">
	<ul class="menu">
    <li><img src="..assets/img/main_logo.png" alt="">  </li>
	    <% if session[:type] == 'network' %>
		<li><%= link_to 'Institución', institution_path  %></li>
		<% end %>
		<% if session[:type_user] == 'admin' %>
		<li><%= link_to 'Admin', admin_path %></li>
		<%end%>
		<% if session[:type_user] == 'teacher' %>
		<li><%= link_to 'Profesor', teacher_path %></li>
		<%end%>
		<% if session[:type_user] == 'student' %>
		<li><%= link_to 'Alumno', student_path  %></li>
		<%end%>
	</ul>
</div>
<%end%>
